body{
    background-image: url(/winter-night.jpg);
    background-attachment: fixed;
    font-size: ;
   
}
.header{
    background-color: rgb(91, 195, 243);
    box-shadow: 3px 3px coral;
    border-radius:10px;
    display: flex;
    justify-content: start;
 
   
}
.content{
    background-color: rgba(233, 69, 184, 0.445);
    
    text-align: left;
    font-size:2rem;
    font-family:'Gill Sans';
    display: inline-block;
    margin-top: 0.1em;
}
.sidebar{
    background-color: rgba(233, 220, 34, 0.445);
    
    text-align: left;
    font-size:2rem;
    font-family:'Gill Sans';
    display: inline-block;
    margin-top: 0.1em;
}
.footer{
    background-color: rgb(189, 184, 184);
    height: 30px;
    text-align: left;
    font-size: 0.7em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style:solid;
    border-color: rgba(160, 241, 38, 0.288);
    margin-top: 0.3em;

}
@media(min-width:400px){
    .content{width: 80%;}
    .sidebar{width: 19.5%;}
}
@media (max-width:400px){
    .content, 
  .sidebar{float:none;width: auto;}
  
}
