*{
    font-family:DoverHeights;
    box-sizing: border-box;
    
}
.layout{
    width: 100%;
    position: relative;
}
body{
    width: 100%;
    background-image: url(/winter-night.jpg);
    background-attachment: fixed;
    
   
}
.header{
    background-color: rgb(91, 195, 243);
    box-shadow: -1px 3px 3px  rgb(248, 91, 91);
    border-radius: 0px 0px 10px 10px ;
    display: flex;
    justify-content: start;
    height: 100px;
    position: absolute;
    width: 100%;
    align-items: center;
 
   
}
    
   
.menubar{
    padding: 30px;
 
}
 

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
   
}
.menubar :hover{
    background-color: rgb(235, 31, 190);
    color:  black;
    text-shadow: 1px 1px 1px 1px cornsilk;
    border: 30px;
    border-radius: 3px;
}

a{
    text-decoration: none;
    color: rgb(153, 13, 223);
    font-size: xxx-large;
   
}

.body1{
  
    display: flex;
    justify-content: flex-end;
     margin-top: 8%;
     box-sizing:border-box;
}

.content{
    background-color: rgba(166, 190, 241, 0.89);
    font-size: 30px;
    text-shadow: 1px 1px rgb(201, 229, 157);
    border-radius: 3px;
    flex-grow: 10;
    
   
 
    
}
.sidebar{
    background-color: rgba(230, 171, 217, 0.89);
    font-size: 30px;
    text-shadow: 1px 1px rgb(201, 229, 157);
    border-radius: 3px;
    padding: 20px;
    flex-grow: 1;

  
 
}
.footer{
    background-color: rgb(133, 133, 250);
    height: 150px;
    text-align: left;
    font-size: 0.7em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style:solid;
    border-color: rgba(160, 241, 38, 0.288);
    margin-top: 0.3em;

}

@font-face {
    font-family:DoverHeights ;
    src: url(/فونت/DoverHeights.otf);
}

.logo{
    width: 50px;
    height: 50px;
   justify-content: start;
   
   border-radius: 50%;
}
.bar{
    background-color: rgb(133, 133, 250);
   display: flex;
   flex-direction: row ;
  
   height: 35px;
   border-radius:  10px 10px 0px 0px;
   box-shadow: 0.9px 0.5px 2px 2px rgb(248, 91, 91);


}

img{
    width: 150px;
    height: 150px;
    
    padding-left: 10px;
    
    box-shadow: 1px 0.5px  crimson;
}
@media (max.width:100px)